// Colors
$main-color: #8c5b3f;
$secundary-color: #d9b282;
$white: #ffffff;
$gray: #7F7F7F;
$lightgray: #b1b1b1;
$darkgray: #58555A;
$darkgray-2: #363636;
$black: #0b0b0d;

// Font family
$titles-font: "Josefin Sans", sans-serif;
$content-font: "Josefin Sans", sans-serif;

// Font weight
$light-font: 300;
$regular-font: 400; 
$medium-font: 500;
$bold-font: 700;

// Media queries for responsive design
$tablet-width: 768px;
$notebook-width: 1024px;
$desktop-width: 1440px;
